body{
    background: wheat;
}
header{
    background: rgb(95, 95, 240);
    text-align: center;
    height: 75px;
    padding: 15px;
    border-radius: 10px;
}

section{
    background: gray;
    border-radius: 10px;
}

#app{
    margin-top: 15px;
    padding: 15px;
    
}

#put{
    text-align: center;
    padding: 15px;
}

footer{
    text-align: center;
}